{% extends united_theme('layout.html.twig') %}
{% block content_wrapper %}
    {# The only element, mendatory to implement, is the content block. #}
    <div class="pusher">
        <section class="united-content">
            {% block content %}{% endblock %}
        </section>
    </div>
{% endblock %}