<nav>
  <ul class="ui large vertical text menu">
    {% for item in united_structure() %}
      <li class="item {% if item.subRoute %} active{% endif %}">
        {% if item.route != null %}<a href="{{ path(item.route) }}">{% endif %}
          {% if item.config.icon %}<i class="{{ item.config.icon }} icon"></i>{% endif %}
          {{ (item ~ '.menu')|trans }}
          {% if item.route %}</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>