<nav>
  <ul class="ui large vertical text menu">
    {% for item in united_structure() %}
      <li class="item {% if item.current %} active{% endif %}">
        <a href="{{ path(item.route) }}">
          <i class="home icon"></i>
          {{ item }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>