{% extends united.theme(layout) %}
{% block content %}

    <div class="ui four column doubling stackable grid">
        {% for child in united.item.children %}
            {% include sectionTemplate with {'item': child} %}
        {% endfor %}
    </div>

{% endblock %}