<div class="column">
    <a class="ui fluid card" href="{{ united.url('', item) }}">
        <div class="content">
            <div class="header">
                <i class="right floated {% if item.config.icon is defined %}{{ item.config.icon }}{% else %}settings{% endif %} icon"></i>
                {{ (item ~ '.index')|trans }}
            </div>
            <div class="description">
                <p>{{ (item ~ '.description')|trans }}</p>
            </div>
        </div>
    </a>
</div>