<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/tests/autoload.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="./Tests/tests" />
    </php>
    <testsuites>
        <testsuite name="UnitedOneBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>