{% extends united.theme(layout) %}
{% block content %}
    <div class="ui four stackable doubling cards">
        <a href="{{ united.url('create') }}" class="single button card">
            <div class="container">
                <div class="content">
                    <div class="center">

                        <div class="circular large positive ui icon button"><i class="icon add"></i></div>
                        <div class="ui divider"></div>
                        <div class="ui green header">{{ (united.item ~ '.create')|trans }}</div>
                    </div>
                </div>
            </div>
        </a>
        {% for entity in entities %}
            {% include cardTemplate with {'entity': entity} %}
        {% endfor %}
    </div>

{% endblock %}