{% extends united.theme(layout) %}
{% block content %}

    <a href="create" class="ui labeled positive icon button">
        <i class="add icon"></i>Add
        {% trans %}Create the first collection{% endtrans %}
    </a>

{% endblock content %}