/**
 * Main Content.
 */
body {
  background: #F8F8F8;
}

.pusher {
  background: #F8F8F8;
  padding: 40px 0;
}

body.pushable {
  background: #F8F8F8;

  .pusher {
    background: #F8F8F8;
  }
}

.united-content {
  position: relative;
  width: auto;

  .united-content-inner {
    max-width: $max-width;
    margin: 0 auto;
  }
}