/**
 * Main Content.
 */

.pusher {
  padding: $space + $padding $space - $padding $space - $padding;
}

.united-content {
  position: relative;
  padding-top: $space;
  width: auto;
  border-top: 1px solid #ccc;

  .united-content-inner {
    max-width: $max-width;
    margin: 0 auto;
  }
}