/**
 * Main Header.
 */
.united-one-header {
  position: absolute;
  top: $padding;
  left: $padding + 5;
  z-index: 1000;

  -webkit-transition: left $animation-fast;

  .breadcrumb {
    -webkit-transition: margin-left $animation-fast, opacity $animation-slow ease-out;
  }

  .toggle-sidebar {
    margin: 0 5px 0 0;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    z-index: 50;
    outline: none;

    svg {
      margin: 9px 8px;
      vertical-align: middle;
      -webkit-transition: all $animation-fast ease-out, transform $animation-slow ease-out;

      rect {
        fill: white;
      }

      rect.rect-1 {
        -webkit-transform-origin: 50% 50%;
        -webkit-transition: transform $animation-slow, fill $animation-fast ease-out;
      }

      rect.rect-2, rect.rect-2b {
        -webkit-transform-origin: 50% 50%;
        -webkit-transition: transform $animation-fast/2 ease-in-out;
      }

      rect.rect-3 {
        -webkit-transform-origin: 50% 50%;
        -webkit-transition: transform $animation-slow, fill $animation-fast ease-out;
      }
    }

    .text {
      position: absolute;
      left: -9999px;
      top: -999px;
    }

    &:focus {
      outline: none;
    }
  }

  .breadcrumb {
    margin: 0;
    vertical-align: middle;

    .section:last-child:not(:first-child) {
      color: #BFB3A4;
    }
  }

  &.open {
    left: 210px;
    position: fixed;

    .toggle-sidebar {
      svg {

        -webkit-transform: rotate(-45deg);
        width: 16px;
        height: 16px;
        margin: 8px;

        rect.rect-1 {
          -webkit-transform: scale(0, 0);
        }

        rect.rect-2 {
          fill: #FE6760;
        }

        rect.rect-2b {
          -webkit-transform: rotate(-90deg);
          fill: #FE6760;
        }

        rect.rect-3 {
          -webkit-transform: scale(0, 0);
        }
      }
    }

    .breadcrumb {
      margin-left: -300px;
      opacity: 0;
      -webkit-transition: margin-left $animation-slow, opacity $animation-fast/2 ease-out;
    }
  }
}