
.ui.form {
  .united-prototype-widget {
    > .positive.button {
      margin-bottom: 20px;
    }

    &.with-sort-fields {
      > .field {
        margin: 0;
        padding: 20px 50px 7px;
        min-height: 50px;
        border-top: 1px solid #eee;

        &:first-child {
          border-top: none;
        }
      }
    }

    > .field {
      position: relative;
      padding-right: 55px;

      .united-sort {
        padding: 0;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -18px;
        margin-bottom: 0;
      }

      .united-collection-delete-button {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -18px;
        margin-bottom: 0;
      }
    }
  }
}